/*默认样式*/
.lole-btn{
    outline: none;
    position: relative;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 1px rgba(0,0,0, .075);
    cursor: pointer;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border-radius: 0;
}

/*禁用*/
.disabled{
    cursor: not-allowed;
    opacity: .65;
    box-shadow: none;
}
.disabled >*{
    pointer-events: none;
}

/*block属性*/
.block{
    width: 100%;
}

/*幽灵按钮*/
.ghost{
    background: rgba(255, 255, 255, 0.7);
    opacity: .65;
    font-weight: 400;
    color: #5b6067;
}

/*圆角*/
.round{
    border-radius: 15em;
}
.circle{
    border-radius: 25em;
}

/*尺寸*/
.lg{
    padding: .5rem 1rem;
    font-size: 1.25rem;
}
.sm{
    padding: .25rem .5rem;
    font-size: .875rem;
}
.md{
    padding: .375rem .75rem;
    font-size: 1rem;
}

/*类型*/
.primary{
    color: #fff;
    background: rgb(249, 204, 226);
    border-color: rgb(249, 204, 226);
}
.primary:hover{
    color: #fff;
    background: rgba(249,204,226,0.75);
    border-color: rgba(249,204,226,0.1);
}
.primary:focus{
    color: #fff;
    background: rgba(249,204,226,0.075);
    border-color: rgba(249,204,226,0.1);
}
.primary.disabled{
    color: #fff;
    background: rgba(249,204,226,0.75);
    border-color: rgba(249,204,226,0.1);
}

.danger{
    color: #fff;
    background: #dc3545;
    border-color: #dc3545;
}
.danger:hover{
    color: #fff;
    background: rgba(220,53,69,0.75);
    border-color: rgba(220,53,69,0.1);
}
.danger:focus{
    color: #fff;
    background: rgba(220,53,69,0.75);
    border-color: rgba(220,53,69,0.1);
}
.danger.disabled{
    color: #fff;
    background: rgba(220,53,69,0.75);
    border-color: rgba(220,53,69,0.1);
}

.link {
    font-weight: 400;
    color: rgba(249, 204, 226,0.75);
    text-decoration: none;
    box-shadow: none;
}
.link:hover{
    color: rgba(249, 204, 226,0.75);
    text-decoration: underline;
}
.link:focus{
    text-decoration: underline;
    box-shadow: none;
}
.link.disabled{
    color: rgba(249, 204, 226,0.75);
    box-shadow: none;
    pointer-events: none;
}

.dash{
    color: #5b6067;
    background: #fff;
    border-color: #ced4da;
    border-style: dashed;
}
.dash:hover{
    color: rgb(249, 204, 226);
    background: #fff;
    border-color: rgb(249, 204, 226);
}
.dash:focus{
    color: rgb(249, 204, 226);
    background: #fff;
    border-color: rgb(249, 204, 226);
}
.dash.disabled{
    color: rgb(249, 204, 226);
    background: #fff;
    border-color: rgb(249, 204, 226);
}