.wrapper.angled {
    position: relative;
    border: 0;
}

.wrapper.bg-light.angled.lower-end:after,
.wrapper.bg-light.angled.upper-end:before {
    border-right-color: #fefefe;
}

.wrapper.bg-light.angled.lower-end:after,
.wrapper.bg-light.angled.upper-end:before {
    border-right-color: #fefefe;
}

.wrapper.angled:before,
.wrapper.angled:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    z-index: 0;
    border: 0 solid transparent;
}

.wrapper.angled.lower-end:after {
    border-right-color: transparent;
    border-right-width: 100vw;
    border-bottom-width: 4rem;
    bottom: -4rem;
}

.wrapper.angled.lower-start:after {
    border-left-color: transparent;
    border-left-width: 100vw;
    border-bottom-width: 4rem;
    bottom: -4rem;
}


.wrapper.angled.upper-end:before {
    border-right-color: transparent;
    border-right-width: 100vw;
    border-top-width: 4rem;
    top: -4rem;
}

.wrapper.angled.upper-start:before {
    border-left-color: transparent;
    border-left-width: 100vw;
    border-top-width: 4rem;
    top: -4rem;
}

.prices{
    padding: 0;
    margin: 0;
    line-height: 1;
    background: none;
    font-weight: normal;
    position: relative;
    height: 3rem;
}

.show-price{


    position: absolute;
    left: 0;
    right: 0;
    display: flex;
}

.show-price .price-currency{
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
    padding-right: 0.2rem;
    padding-top: 0.4rem;
}

.show-price > .price-value{
    font-size: calc(1.425rem + 2.1vw);
}

.show-price > .price-duration{
    font-size: 0.8rem;
    font-weight: 500;
    color: #60697b;
    margin-top: auto;
    margin-bottom: 0.25rem;
}

footer.bg-dark {
    background: #21262c !important;
}
